@import "bootstrap";

// Category items
.category__description {
  max-width: 730px;
  margin: 0 auto;
  padding-top: 50px;

  @include media-breakpoint-up(lg) {
    padding-top: 120px;
    padding-left: 24px;
    padding-right: 24px;
  }

  p {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 198%;
    margin-bottom: 0;
  }
}

.catqagory__grid {
    padding-top: 50px;

    @include media-breakpoint-up(lg) {
      padding-top: 120px;
      row-gap: 120px;
    }

  .product__img {
    overflow: hidden;
    
    img {
      max-width: 100%;
      @include imageTransition;
    }
    .img__hover {
        @include imageHidden;
    }

    &:hover {
      img {
        @include imageHidden;
      }
      .img__hover {
        @include imageActive;
        @include imageTransitionHover;
      }
    }
  }
}

.catqagory__items {
  padding-bottom: 50px;
  @include media-breakpoint-up(lg) {
    padding-bottom: 121px;
  }
}

.product__name {
  margin-top: 40px;
  .product__link {
    display: block;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
